html
    head
        title plz work
        script(src='//cdn.jsdelivr.net/npm/phaser-ce@2.9.4"')
        script(src='/socket.io/socket.io.js')
        script(src='/js/game.js')
    
    body
        #game
        #todo
            h3 todo
            p flashlights, footprints, weapons in dif files, better tiled map
            | multiplayer and all that entails